name: 'LinearB Deployment'

on:
  push:
    branches:
      - main
      
jobs:
  linearb-release:
    uses: gsoft-inc/wl-reusable-workflows/.github/workflows/linearb-deployment.yml@main
    with:
      environment: "release"
    secrets: inherit